<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GummiBearKingdom</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/site.css' type='text/css'>

</head>
<body>
    @RenderBody()
</body>
<footer>
    <span class="smlLink">@Html.ActionLink("Home", "Index", "Home")</span>
    <p>&copy; 2018 - Gummi Bear Kingdom</p>
</footer>
</html>
